/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .login-form-container {
    
     background: #FFFFFF;
     border: 1px solid black;
     
     
 }
 .login-title{
     display: flex;
     justify-content: flex-start;
 }
 .login-form-box {
      display: flex;
     justify-content: flex-end;
 }

 body{
     background: #EAE7DE;
 }

 
 header > .greeting-header{
     background: #f4f1ea;
     border: 1px solid black;
     height: 50px;
     width: 100%;
     position: relative;
 }

 .logout-button-header {
   display: inline;
    border-radius: 25%;
    height: 20px;
 }

 .web-title {
     display: flex;
     justify-content: left;
 }

 .header-link {
     font-family: 'Ibarra Real Nova', serif; 
 }

 .header-left {
     list-style: none;
 }

 #header-el {
     position: relative;
     display:inline;
     padding: 5px;
 }
 #header-el-name {
     display: inline;
    float: right;
     font-weight: bold;
    
 }

 
 #header-el-name > ul {
      list-style: none;
      /* display: none; */
 }

 #header-el-name:hover > ul > li {
     display: block;
 }

 .greeting-container {
     display: block;
 }
