/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#login {
     display: none;
 }
 
 
.login-form-container{
    position: relative;
   font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
   justify-content: flex-end;
   right: 200px;

}

.login-signup{
    justify-content: flex-end;
}

#user-dropdown > li{
    list-style: none;
}

.nav-bar{
    border: 1px solid black;
    background: #f4f2e9; 
    display:flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    
}
body {
    background: #EAE7DE;

}

.header-link{
   
    align-self: flex-start;
}

.greeting-header {
   display: block;
   
   justify-content: flex-end;

  
}

.greeting-header > ul {
    display: flex;
    
}

.greeting-header > ul > li{
    padding: 5px 15px 5px 15px;
}


.greeting-header > ul > li > ul {
    padding: 5px;
   
   
}

#user-dropdown {
    padding: 50px;
    display:none;
    position: absolute;
    right: 0px;
    width: 125px;
    background:white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 0% 0% 2% 2%;
}

#user-dropdown:hover  {
    
    display:block;
    
}


#user-dropdown > li {
    padding: 0px 10px 10px 10px;
}
.header-el-name:hover > #user-dropdown {
    display: block;
    

}

.header-el-name {
    position: relative;
}
.logo{
    width: 100px;
    height: 100px;
}

.book-fire {
    display: flex;
    justify-content: center;
    /* right: 1000px; */
    border: 1px solid black;
    background: #f6e7c6;
}

.book-fire > img {
    height: 295px;
    width: 350px;
    
}

.login-submit-button{
    cursor: pointer;
    margin: 2px;
    background-color: #382110;
    border: 1px solid #382110;
    color: white;
    font-weight:normal;
    border-radius: 3px;
    width: 60px;
    height: 36px;
}

.login-form{
    position:relative;
    height: 30px;
    width: 50%;
    top: 15px;
    
}

.login-input {
    
     border-radius: 3px;
    width: 130px;
    height: 26px;
    padding: 5px;
    background-color: white;
    font-size: 13px;
  
    
}

.login-list {
    display: flex;
}

::placeholder{
    color:lightgrey;
}

.session-form-div {
    
    width: 280px;
    margin: 0px 8px 0 0;
    background: #f4f2e9;
    position: sticky;
    border-top: 1px solid #d8d8d8;
    padding: 12px;
    height: 270px;
   left: 900px;
    
}

.session-form-ul > li {
    display: flex;
    padding: 7px 5px;
    align-items: center;
    width: 270px;
    font-size: 16px;
    font-weight: lighter;
    


}

.session-form-ul > li > input[type="text"]{
    border-radius: 3px;
    width: 270px;
    height: 33px;

}
.session-form-ul > li > input[type="password"]{
    border-radius: 3px;
     width: 270px;
    height: 33px;
}

.signup-title{
    font-size: 18px;

}

.session-submit-button {
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: #fdd05f;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    cursor: pointer;
}


.book-table-div {
    float: right;
    height: 50%;
    width:  75%;
    margin-top: 2%;
    display: block;
}
.books-table {
 border-collapse: collapse;
 border-spacing: 2px;
 border-color:grey;
 /* box-shadow: 0 5px 10px rgba(0,0,0,0.15); */
   
}


.book-index-column-list {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
   border: 2px solid green;
   
}

.table-header-row {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    margin: 5px; 
  
   
}

.book-table-header-column-cover{
  vertical-align: bottom;
  float: left;
 
}
.book-table-header-column-name{
  vertical-align: bottom;
  float:none;
 
}
.book-table-header-column-genre{
  vertical-align: bottom;
  float: left;
 
}
.books-table > tr {
    vertical-align: middle;
}
tr{
    display: table-row;
}
.books-list-body {
   
    display: table-row-group;
    vertical-align: middle;
   
}
.book-row {
    border: 2px solid transparent;
     border: 1px solid red;
  
}

.book-row > td {
    padding: 12px 5px 12px 0;
    vertical-align: top;
    border: 1px solid blue;
    text-align: center;
  
}


.book-photo {
    width: 25%;
    height: 60px;
    
   
}
