/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#login {
     display: none;
 }
 
 
.login-form-container{
    position: relative;
   font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
   justify-content: flex-end;
   right: 10vw;

}

.login-signup{
    justify-content: flex-end;
}

#user-dropdown > li{
    list-style: none;
}

.nav-bar{
    border-bottom: 1px solid #DDDBD8;
    background: #f4f2e9; 
    display:flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    height: 7vh;
}

.header-link{
    align-self: flex-start;
    text-decoration: none;
    color: #96897E;
  
}


.greeting-header {
   display: block;
   justify-content: flex-end;
}

.greeting-header > ul {
    display: flex;
}

.greeting-header > ul > li{
    padding: 1vh 2vw;
}


.greeting-header > ul > li > ul {
    padding: 1vw 1vh;
}

#user-dropdown {
    padding: 5vw;
    display:none;
    position: absolute;
    right: 0px;
    width: 10vw;
    background:white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 0% 0% 2% 2%;
    top: 76%;
}

#user-dropdown:hover  {
    display:block;
}

#user-dropdown > li {
    padding: 1vh 1vw;
}
.header-el-name:hover > #user-dropdown {
    display: block;
}

.header-el {
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    display: flex;
    justify-content: center;
    height: 1vh;
    margin: 2vh 1vw;
    align-items: center;
    width: 1vw;
}


.header-el > :first-child {
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-decoration: none;
    color: #000000;
}
.header-el > :first-child:hover {
   background-color: #38210f;
    color: #ffffff;
}

#user-icon {
    height: 3.5vh;
}
.header-el:hover {
 background-color: #38210f;
    color: #ffffff;
}

.header-el-name > :first-child{
    position: relative;
    height: 5vh;
    width: 5vw;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.header-el-name {
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 1vh;
    margin-left: 5vw;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
}

.bad {
    color: rgb(112, 69, 34);
}

.reads {
    color: #362212;
    font-weight: bold;
}

.book-fire {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #DDDBD8;
    background: #f6e7c6;
}

.book-fire > img {
    height: 40vh;
    width: 30vw;
}

.login-submit-button{
    cursor: pointer;
    margin: .1vw;
    background-color: #382110;
    border: 1px solid #382110;
    color: white;
    font-weight:normal;
    border-radius: 3px;
    width: 5vw;
    height: 3.5vh;
}

.logout-button-header{
    width: 5vw;
    height: 3vh;
    background-color: #F4F1EA;
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

.login-form{
    position:relative;
    height: 1vh;
    width: 50%;
    top: 2vh;
    right: 2vw;
}

.login-input {
    border-radius: 3px;
    width: 10vw;
    height: 2.5vh;
    padding: .2vh;
    background-color: white;
    font-size: 13px;
    margin-right: .5vw;
    margin-bottom: .2vh;
   
}

.login-list {
    display: flex;
}

::placeholder{
    color:lightgrey;
}

.session-form-div {
    width: 20vw;
    background: #f4f2e9;
    position: sticky;
    /* border-top: 1px solid #d8d8d8; */
    padding: 1vw;
    height: 37.3vh;
    left: 60vw;
}

.session-form-ul > li {
    display: flex;
    padding: 1vh 1vw;
    align-items: center;
    width: 20vw;
    font-size: 16px;
    font-weight: lighter;
}

.session-form-ul > li > input[type="text"]{
    border-radius: 3px;
    width: 18vw;
    height: 4vh;
}

.session-form-ul > li > input[type="password"]{
    border-radius: 3px;
    width: 18vw;
    height: 4vh;
}

.signup-title{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.session-submit-button {
    padding: 1vh;
    border: 0px;
    border-radius: 4px;
    background-color: #fdd05f;
    font-size: 1em;
    line-height: 3vh;
    width: 6vw;
    cursor: pointer;
}

.book-table-div {
    /* float: right; */
    min-height: 90vh;
    width:  80%;
    margin-top: 2%;
    display: block;
    padding-left: 8vw;
    
}

.empty-shelf-div{
    min-height: 90vh;
    width:  80%;
    margin-top: 2%;
    display: block;
    padding-left: 8vw;
}

.no-items{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #999999;
    line-height: 18px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.books-table {
 border-collapse: collapse;
 border-spacing: 2px;
 border-color:grey;
 height: 100%;
 padding-bottom: 10vh; 
 color: #382110; 
}


.book-index-column-list {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-header-row {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin: 0vw; 
}

.book-table-header-column-cover{
  vertical-align: bottom;
  float: none;
  
}

.book-table-header-column-name{
  vertical-align: bottom;
  float:none;
}

.book-table-header-column-genre{
  vertical-align: bottom;
  float: none;
}

.books-table > tr {
    vertical-align: middle;
}

tr{
    display: table-row;
}

.books-list-body {
    display: table-row-group;
    vertical-align: middle;
}

.book-row {
    border-top: 1px solid grey;
    text-decoration: none;
}

.book-row > td {
    width: 15vw;
    padding: 2vh 1vw 2vh 0;
    vertical-align: top;
    text-align: center;
    color: #00635d;
    font-family: 'Lato', "Helvetica Neue", 'Helvetica', 'Arial', sans-serif;
}

.book-row > td > a {
   
    color: #00635d;
    text-decoration: none;
}

.book-row > td > a:hover {
    text-decoration: underline;
}

.book-photo {
    width: 30%;
    height: 10vh;
    border-radius: 5%;
}

.book-show-photo{
    width: 70%;
    height: 100%;
    margin: 0 auto 3%;
}

.book-description{
 display: block;
 max-width: 100%;
 font-family: "Merriweather", "Georgia", serif;
 font-size: 14px;
 line-height: 1em;
 min-height: 20vh;
}

.book-des-start{
    line-height: 1.5em;
}

.errors {
    font-size:.7em;
    display: block;
    color: red;
    position: relative;
    flex-direction: column;
    justify-content: flex-end ;
    width: 100%;
    background-color: #f4f2e9;
    margin: .5vh;
    margin-left: 1vw;
}

.books-search {
    border-radius: 3px;
    width: 15vw;
    height: 3vh;
    padding: 1vh;
    background-color: white;
    font-size: 13px;
}

.header-left > :nth-child(2){
    display: flex;
    align-content: center;
    align-items: center;
}
.splash{
    display: block;
    margin: 0% 2% 0% 2%;
    padding: 2px;
    min-height: 100vh;
}

.splash-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.splash-book {
    padding: 5vw;
    width: 10vw;
    height: 35vh;
    background-size:cover;
}
.splash-intro{
    display:flex;
    flex-direction: column;
    padding-bottom: 10%;
    width: 400px;
    padding-right:30%;
   
}

.intro-label{
    clear: both;
    margin: 20px 0 10px 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.intro-des{
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.book-list-label{
    padding-left:8%;
    font-size:18px;
    font-weight: 700;
}
.books-list-splash{
    display: inline-flex;
    flex-direction: row;
    height: 50%;
    background-size:cover;
    
}

.books-splash-master{
    background-color: #F4F2E9;
    padding-top: 3%;
}

.books-list-splash > li {
    width: 100%;
}

footer {
    width: 100%;
    height: 10vh;
    color: #000000; 
    background-color: #F4F2E9;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 7vh;
}

footer > ul > li > a > img{
    width: 3vw;
    height: 5vh;
    display: flex;
    padding: 1vh;
}

footer > ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
}

footer > ul > li > h6 {
    font-size: 12px;
    align-content: center;
    align-items: center;
    display: flex;
}

.App {
    position: relative;
}

.book-content{
    display: flex;
    background-color: #ffffff;
    min-height: 100vh;
}

.book-show-image{
    padding-top: 1.5%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 5%;
    
}

.book-show-photo {
    height: 30vh;
    width: 15vw;
    border-radius: 5%;
}

.book-show-content {
    display: block;
    position: static;
    max-height: 55vh;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 1vh;
    overflow: auto;
    padding-bottom: 10vh;
}

.book-show-content > :nth-child(n){
    padding-top: 1%;
    padding-left: 1%;
}

#read-selector{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.review-content{
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 45vh;
    float: left;
    position: relative;
    margin-top: 3vh;
    min-width: 70vw;
}

.indv-review{
    display: block;
    padding-top: 1vh;
    float: left;
    word-wrap: break-word;
    margin-bottom: 1vh;
}

.review-user {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    color: #00635D;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    padding-right: 1vw;
    float: left;
}

.review-date{
   font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
   color: #bbbbbb;
   font-size: 14px;
   position: absolute;
   right: 0%;
}
.review-rating {
    display: flex;
    justify-content: center;
}
.review-body{
    padding-top: 1vh;
    
}
.review-li {
  list-style-type: none;
 
}

.review-user-info {
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.review-edit-delete{
    padding-top: 1vh;
}

.book-content-list {
    list-style-type: none;
    padding: 0;
}
.book-content-list > li {
    margin-bottom: 25vh;
}

.create-review:hover{
    background-color: #EDE6D6;
}

.review-form-div {
    padding-top: 1vh;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.review-form {
    display: block;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 15vw;
    background-color: #ffffff;
    min-height: 85vh;
}

.review-form-title{
    color: #333333;
    font-size: 90%;
    font-weight: bold;
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;

}


.review-text-area {
    width: 50vw;
    height: 38vh;
    display: block;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    line-height: 21px;
    border-radius: 2%;
    border: 1px solid #DCD6CC;
    color: #666666;
    cursor: text;
    margin: 0em;
    padding: 1% ;
    margin-top: 2vh;
}

.rating-label {
    margin-right: 1%;
    margin-top: 1vh;
    vertical-align: middle;
    cursor: default;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    padding-bottom: 3%;
}

.rating-selector {
    margin-top: 1vh;
    margin-bottom: 3vh;
    display: flex;
    padding-top: 3%;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    width: 3vw;
    align-items: center;
    cursor: pointer;
}


.review-submit-cancel {
    display: flex;
    margin-top: 1vh;

}

.write-review-label {
    padding-top: 1vh;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    min-width: 30vw;
}

.review-button-div{
    display: flex;
    padding: 1vh 0vw 1vh 0vw;
    float: left;
    justify-content: flex-start;
}
.review-buttons{
  background: none!important;
  border: none;
  padding-left: 1%;
  color: #00635D;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

.review-delete{
  background: none!important;
  border: none;
  color: #00635D;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}
.review-delete:hover {
    text-decoration: underline;
}

.review-submit{
    width: 7vw;
    height: 4vh;
    background-color: #F4F1EA;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    color: #666666;
    font-size: .8em;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}

.review-body-span {
    overflow: auto;
   line-height: 21px;
   font-family: 'Merriweather', 'Georgia', 'Serif';
   word-wrap: break-word;
}
.cancel {
    width: 7vw;
    height: 3.8vh;
    background-color: #F4F1EA;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    text-decoration: none;
    color: #666666;
    font-size: .8em;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin-left: 1vw;
    border: 1px solid #d1d1d1;
    align-items: center;
}

.book-review-combine{
  min-width: 70vw;
  max-width: 70vw;
  
}
.more{
    display: none;
    cursor: pointer;
}

.less{
    display: block;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    min-height: 10vh;
    /* margin-bottom: 1vh; */
    line-height: 1.5em;
    position: relative;
    cursor: pointer;
}  

.more-less {
  background: none!important;
  border: none;
  padding-left: 1%;
  color: #00635D;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.more-less:hover  {
  text-decoration: underline;
}

.write-review {
    width: 8vw;
    height: 2vh;
    background-color: #F4F1EA;
    color: #333333;
    border-radius: 5%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0em;
    text-indent: 0px;
    align-items: flex-start;
    text-align: center;
    /* margin-top: 3%; */
    text-decoration: none;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding-top: .5vh;
    padding-bottom: .5vh;
    border: 1px solid #D6d0c4;
    overflow: hidden;
}

.rating-div {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 50vw;
    height: 6vh;
}


.book-title {
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 2em;
}

.author-name {
    color: #333333;
    font-size: 1.5em;
    font-family: "Merriweather", "Georgia", serif;
}

.genre {
    font-family: "Merriweather", "Georgia", serif;
}

.rating-num {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
}

.reviews-h1 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding-top: 1vh;
    font-size: 12px;
    color: #382110;
}

.stars {
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
}

.stars input[type=radio] {
  display: none;
}

.stars input[type=radio]:first-child + label {
  padding-right: 0;
}

.stars label {
  box-sizing: border-box;
  padding-right: 2%;
  color: lightgrey;
}

.stars label:after {
  display: block;
  content: "★";
  transition: all 0.25s;
  background: white;
  border-radius: 100%;
  color: lightgrey;
}

.rating-item-selected:after {
    color: #F5A624 !important;
    border-radius: 100%;
}

.rating-item-selected-t:after {
    color: #FA604A !important;
}

.rating {
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
}

.rating input[type=radio] {
  display: none;
}

.rating input[type=radio]:first-child + label {
  padding-right: 0;
}

.rating label {
  box-sizing: border-box;
  padding-right: 2%;
  cursor: pointer;
  color: lightgrey;
}
.rating label:after {
  display: block;
  content: "★";
  transition: all 0.25s;
  border-radius: 100%;
  color: lightgrey;
}

.rating label:hover:after,
.rating label:hover ~ label:after {
  background: white!important;
  color: lightgrey;
}

.review-form-path {
   float: left;
   padding-right: 1vw;
}

.review-path-div {
    color: #00635D;
    font-size: 20px;
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    padding-left: 15vw;
    padding-bottom: 1vh;
    font-size: 20px; 
    font-weight: bold;
    line-height: 24px;
}
.review-formpath-words {
    color: #000000;
    font-size: 20px;
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    margin-bottom: 1vh;
    font-size: 20px; 
    font-weight: bold;
    line-height: 24px;
}

.review-form-image {
    padding-left: 15vw;
    padding-bottom: 1vh;
    font-size: 20px; 
    line-height: 24px;
    display: flex;
}

.review-form-photo {
    height: 8vh;
    width: 5vh;
    float: left;
    padding-right: 1vw;
    border-radius: 3%;
}

.review-form-author {
    font-family: 'Merriweather', 'Georgia', serif;
    font-size: 80%;
    color: #333333;
    display: flex;
    font-weight: normal;
}

.by-span {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-right: .5vw;
}

.index-stars > .stars > .rating-item-selected-t:after {
    color: #F5A624 !important;

}
.index-review > a {
    background: white;
    border: none;
}


.book-index-photo > a > img{
   height: 180px;
   width: 115px;

}

.book-index{
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* padding-left: 100px;
    padding-right: 100px; */
    align-items: center;
    /* flex-direction:row; */
}
.book-index-row{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* display: grid;
    grid-template-columns: 40% 40% 40% 40% 40%;
    grid-template-rows: 40% 40% 40% 40% 40%; */
    

}
.book-index-item{
   /* height:30vh;
   width:5vw; */
   margin: 5px;
}

.App{
    position: relative;
    /* display: flex; */
    justify-content: center;
   
}
.book-container-right{
    float:right;
    display:block;
    position: relative;
}
.shelf-links{
    display: block;
    align-items: flex-start;
    float: left;
    position: relative;
    padding-right: 25px;
}

.content{
    flex-direction: row;
}
.shelf-links >label > ul > li > a{
    background: none!important;
    border: none;
    padding-left: 1%;
    color: #00635D;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shelf-links >label > ul > li > a:hover{
    text-decoration: underline;
}

.remove-shelf-button{
    color: #00635D;
    text-decoration:none;
}

/* .shelf-options{
    background-color:#419D6A !important;
    color:white;
} */

.shelf-options:after{
    background-color:#419D6A !important;
    color:white;
}


.demo-button{
    background-color: #382110;
    color: white;
    margin-left: 30%;
    padding: 1vh;
    border: 0px;
    border-radius: 4px;
    font-size: 1em;
    line-height: 3vh;
    width: 6vw;
    cursor: pointer;
}

.all-shelves{
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 50vw;
    /* padding-top: 10vh; */
    flex-direction: column;
    align-items: center;
}

.all-shelf-list{
    width: 30%;
}
.all-shelf-items{
    margin-bottom: 2vh;
}

.all-shelf-items > a{
    background: none!important;
    border: none;
    padding-left: 1%;
    color: #00635D;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.all-shelf-items > a:hover {
    text-decoration:underline;
}

.all-shelf-form{
    display: flex;
   padding: 1vh 5vw 1vh 5vw;
    align-self: center;
    
    background-color: lightgray;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.rename-shelf{
    background: none!important;
    border: none;
    padding-left: 1%;
    color: #00635D;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rename-shelf:hover {
    text-decoration: underline;
}

.make-shelf-form{
    display:flex;
    flex-direction: row;
}
.make-shelf-submit{
    /* display:flex;
    justify-content: flex-end; */
    float: right;
    margin-left: 10vw;
    background-color: #F4F1EA;
    border-radius: .25vw;;
}
.make-shelf-input{
    /* width: 80%; */
    float: left;
    
    
}